
<!-- Menu -->
<!-- contentId se usa para posicionar el menu -->
<!-- menuId se usa para gestionarlo con menuController -->
<ion-menu contentId="content" menuId="content" side="end">
  
  <!-- Cabecera -->
  <ion-header>
    <ion-toolbar>
      <!-- Boton de atras -->
      @if(showOrder || showLogin){
        <ion-button fill="clear" slot="start" (click)="back()">
          <ion-icon slot="icon-only" color="light" name="arrow-back-outline" />
        </ion-button>
       
      }
      <ion-title color="light">{{'label.menu' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- Lista de opciones -->
    @if(!showOrder && !showLogin && !showNewAccount){
      <ion-list>
        <!-- Segun si estamos logueados o no, mostramos una opción u otra -->
        @if(userSignal()){
          <ion-item (click)="logout()">
            <ion-icon slot="start" name="people-outline" />
            <ion-label>{{'label.logout' | translate}}</ion-label>
          </ion-item> 
        } @else{
          <ion-item (click)="seeLogin()">
            <ion-icon slot="start" name="people-outline" />
            <ion-label>{{'label.start.session' | translate}}</ion-label>
          </ion-item>
        }
        <!-- Opcion para ir a nuestro pedido -->
        <ion-item (click)="seeOrder()" [disabled]="numProductsSignal() == 0">
          <ion-icon slot="start" name="cart-outline" />
          <ion-label>{{'label.see.order' | translate}}</ion-label>
          <!-- Numero de productos en nuestro pedido -->
          <ion-badge slot="end">{{numProductsSignal()}}</ion-badge>
        </ion-item>
      </ion-list>
    }
    
    <!-- Lista de productos -->
    @if(showOrder){
      <app-list-products (pay)="goToPay()" />
    }

    <!-- Login -->
    @if(showLogin){
      <app-login 
        (newAccount)="seeNewAccount()"
        (doLogin)="back()" />
    }

    <!-- Nueva cuenta -->
    @if(showNewAccount){
      <app-create-account
        [showButtonBack]="true"
        (back)="seeLogin()"
        (doCreateAccount)="back()"
      />
    }
  
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="logo" src="assets/img/logo-app.jpg" routerLink="/categories" />
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light" />
    </ion-buttons>

  </ion-toolbar>
</ion-header>